bcrypt==3.1.7
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cryptography==2.9.2
dicttoxml==1.7.4
docker==4.3.1
ecdsa==0.15
Flask==1.1.2
Flask-JWT-Extended==3.24.1
hvac==0.10.5
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
libvirt-python==6.3.0
MarkupSafe==1.1.1
pkg-resources==0.0.0
psutil==5.7.3
psycopg2==2.8.5
pycparser==2.20
pyhcl==0.4.4
PyJWT==1.7.1
PyYAML==5.3.1
requests==2.24.0
six==1.15.0
SQLAlchemy==1.3.17
sshpubkeys==3.1.0
urllib3==1.25.10
uWSGI==2.0.18
uwsgidecorators==1.1.0
websocket-client==0.57.0
Werkzeug==1.0.1
xmltodict==0.12.0
